.history-list {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.history-list h2 {
    margin-top: 0;
}

.history-list ul {
    list-style-type: none;
    padding: 0;
}

.history-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.history-list li:last-child {
    border-bottom: none;
}
